<main>
    <h1 class="welcome">Welcome to CSE Moters</h1>
    <%- messages() %>
    <div class="welcome-container">
        <div class="hero-container">
            <h2>DMC Delorean</h2>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <button class="own-today">Own Today</button>
        </div>
        <img class="delorean" src="images/vehicles/delorean.jpg" alt="delorean image">
    </div>
    <div class="content-container">
        <div class="reviews-container">
            <h1>DMC Delorean Reviews</h1>
            <li>"So fast it's almost like traveling in time."" (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"The most futeristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </div>
        <div class="upgrades-container">
            <h1 class="yeah"> Deloran Upgrades</h1>
            <div class="upgrade-card">
                <img src="images/upgrades/flux-cap.png" alt="flux-cap image">
                <a href="https://www.oreillyauto.com/flux-capacitor">Flux Capacitor</a>   
            </div>
            <div class="upgrade-card">
                <img src="images/upgrades/flame.jpg" alt="flames image">
                <a href="https://www.vinyldisorder.com/racinggraphics-flames.html">Flame Decals</a>   
            </div>
            <div class="upgrade-card">
                <img src="images/upgrades/bumper_sticker.jpg" alt="bumper sticker image">
                <a href="https://www.stickermule.com/products/bumper-stickers?utm_source=google&utm_medium=cpc&utm_campaign=new_customer&gad_source=1&gclid=CjwKCAiA1-6sBhAoEiwArqlGPs5QH6DwkC9W3tOz8bPYVQAbrVqkJl0Bw9c7IfNZvLfKpCXjTGzBdRoCSlUQAvD_BwE">Bumper Stickers</a>   
            </div>
            <div class="upgrade-card">
                <img src="images/upgrades/hub-cap.jpg" alt="flux-cap image">
                <a href="https://www.autozone.com/tire-repair-and-tire-wheel/hub-cap">Hub Caps</a>   
            </div>
        </div>
    </div>
</main>