<!-- CONTENT HEADING -->
<% if (title) { %>
    <h1 class="titles"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

 <!-- MESSAGE -->
 <%# messages() %>


 <!-- INVENTORY ITEMS DISPLAY -->
 <%- grid %>

